@font-face{
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
h2,h3,h4 {
    margin: 0;
}
p {
    margin: 0;
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
}
button{
    line-height: 100%;
}
html{
    background-color: #e5e5e5;
}
body{
    margin: 0;
}
.container{
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header__container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 69px;
    padding-right: 67px;
    width: 100%;
    left: 0;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
}
.header__logo{
    padding-right: 10px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.header__list{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.header__item-link{
    color: #000;
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
}
.header__item-link:hover{
    border-bottom: 2px solid #FF9900;
}
.header__item-link:focus{
    border: 2px solid #FF9900;
    margin-right: -2px;
    margin-left: -2px;
}
.header__item-link:active{
    border-bottom: 2px solid #E1670E;
    color: #E1670E;
}
.header__item:not(:last-child){
    margin-right: 85px;
}
.header__search{
    margin-left: 260px;
}
.header__search-link:hover svg path{
    stroke: #FF9900;
}
.header__search-img:focus{
    border: 2px solid #FF9900;
    margin-left: -2px;
    margin-right: -2px;
}
.header__search-link:active svg path{
    stroke: #FF9900;
}
.slider{
    margin-top: 50px;
}
.swiper-img1{
    background-image: url(/img/slider-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.swiper-img2{
    background-image: url(/img/slider-img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.swiper-img3{
    background-image: url(/img/slider-img3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.swiper-pagination > .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/dot.png);
}
.swiper-pagination > .swiper-pagination-bullet-active {
    background-image: url(/img/checkdot.png);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px !important;
}
.slider__div{
    position: relative;
    height: 620px;  
    border-radius: 32px;
}
.swiper{
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 32px;
}
.slider__width{
    position: absolute;
    z-index: 10;
    max-width: 900px;
    padding-left: 80px;
    padding-top: 100px;
}
.slider__h2,
.slider__big-p{
    color: #fff;
}
.slider__h2{
    padding-bottom: 24px;
    font-family: "Montserrat-ExtraBold";
    font-size: 70px;
    line-height: 85px;
}
.slider__big-p{
    padding-bottom: 115px;
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 29px;
}
.slider__btn{
    padding: 25px 39px;
    background: #FF9900;
    border-radius: 16px;
    font-family: 'Montserrat-Bold';
    font-size: 23px;
    color: #fff;
    transition: background-color .2s;
}
.slider__btn:hover,
.slider__btn:focus{
    background-color: #FFB84D;
}
.slider__btn:active{
    background-color: #E1670E;
}
.about{
    margin-top: 50px; 
}
.about__h3,
.work__h3,
.faq__h3{
    font-family: "Montserrat-Regular";
    font-size: 48px;
    margin-bottom: 20px;
}
.about__p{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    line-height: 32px;
    max-width: 1235px;
}
.about__h4{
    font-family: "Montserrat-Bold";
    font-size: 24px;
    margin-bottom: 8px;
}
.about__blocks{
    margin-top: 50px;
    display: flex;
}
.about__left-block{
    background-image: url(/img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 49%;
    background-size: cover;
    height: 622px;
    border-radius: 32px;
}
.about__before-shadow{
    padding-top: 426px;
}
.about__img_mobile{
    display: none;
}
.about__shadow{
    background-color: rgba(0, 0, 0, 0.5);
    height: 196px;
    border-radius: 32px;
    display: flex;
    align-items: center;
}
.about__text{
    color: #fff;
    font-family: "Montserrat-Bold";
    padding-left: 50px;
    max-width: 480px;
    line-height: 32px;
}
.about__btn{
    font-family: "Montserrat-Bold";
    border: 3px solid #FF9900;
    border-radius: 16px;
    line-height: 19.5px;
    padding: 18px 37px;
    color: #fff;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: background-color .2s, border .2s;
    margin-left: auto;
    margin-right: 50px;
}
.about__btn:hover,
.about__btn:focus{
    background-color: #FF9900;
}
.about__btn:active{
    background-color: #E1670E;
    border: 3px solid #E1670E;
}
.about__right-blocks{
    width: 49%;
    margin-left: 32px;
}
.about__consult,
.about__quality{
    display: flex;
    border: 1px solid #CACACA;
    border-radius: 32px;
    height: 295px;
    padding-left: 60px;
}
.about__quality{
    margin-top: 32px;
}
.about__img{
    width: 190px;
}
.about__text-orientation{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 65px;
}
.work{
    margin-top: 100px;
}
.work__steps{
    display: flex;
    margin-top: 50px;
    font-family: "Montserrat-Regular";
    font-size: 18px;
}
.tab-content{
    display: none;
}
.tab-content-active{
    display: flex;
}
.work__step{
    color: #000;
    cursor: pointer;
}
.work__step-colored{
    color: #E1670E;
}
.work__step:not(:last-child){
    margin-right: 86px;
}
.work__step:hover{
    color: #FF9900;
}
.work__step:focus{
    border: 2px solid #FF9900;
    margin: -2px 84px -2px -2px;
}
.work__step:active{
    color:#E1670E;
}
.work__blocks{
    margin-top: 48px;
}
.work__left-blocks,
.work__right-block{
    width: 49%;
}
.work__h4{
    font-family: "Montserrat-Bold";
    font-size: 24px;
    margin-bottom: 9px;
}
.work__p{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    line-height: 32px;
    width: 758px;
}
.work__btns{
    margin-top: 38px;
}
.work__about-btn{
    color: #fff;
    background-color: #FF9900;
    padding: 19px 38px;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    border-radius: 16px;
    transition: background-color .2s;
}
.work__about-btn:hover,
.work__about-btn:focus{
    background-color: #FFB84D;
}
.work__about-btn:active{
    background-color: #E1670E;
}
.work__dogovor-btn{
    margin-left: 28px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 16px;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    padding: 19px 38px;
    transition: background-color .2s, color .2s, border-color .2s;
}
.work__dogovor-btn:hover,
.work__dogovor-btn:focus{
    background-color: #666;
    border-color: #666;
    color: #fff;
}
.work__dogovor-btn:active{
    background-color: #000;
    border-color: #000;
}
.work__img{
    margin-left: 34px;
    margin-top: 9px;
}
.ui-icon{
    display: none;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon,
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon,.ui-icon, .ui-widget-content .ui-icon{
    display: none !important;
}
.faq__accordion-p{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    line-height: 32px;
}
.faq{
    margin-top: 111px;
    margin-bottom: 100px;
}
.faq__nav{
    margin-top: 32px;
}
.faq__item:nth-child(1){
    border-top: 1px solid #CACACA;
}
.faq__item{
    position: relative;
    border-bottom: 1px solid #CACACA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq__item-a{
    padding-top: 39px;
    padding-bottom: 42px;
    font-family: "Montserrat-Bold";
    font-size: 24px;
    color: #000;
}
.faq__item:hover,
.faq__item:focus{
    border-top: 1px solid #FF9900;
    border-bottom: 1px solid #FF9900;
    margin-top: -1px;
}
.faq__item:nth-child(1):hover{
    margin-top: 0px;
}
.faq__item-a:hover,
.faq__item-a:focus{
    color: #FF9900;
}
.faq__img{
    cursor: pointer;
}
.faq__svg{
    transition: transform .3s;
}
.faq__item:hover svg ellipse{
    fill:#FF9900;
}
.faq__item:hover svg path{
    fill: #fff;
}
.faq__item:focus svg ellipse{
    fill: #CACACA;
}
.faq__item:focus svg path{
    fill: #000;
}
.faq__item:focus svg{
    transform: rotate(45deg);
}
.footer__container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 594px;
    width: 100%;
    left: 0;
    padding-left: 68px;
}
.footer__left-side{
    margin-top: 50px;
    max-width: 251px;
}
.footer__list{
    margin-top: 17px;
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
    line-height: 36px
}
.footer__link{
    color: #CACACA;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #FF9900 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #fff !important;
    background: #fff !important;
}
.faq__item:hover{
    color: #FF9900;
}
.faq__item:focus{
    border: 2px solid #FF9900;
    margin: -2px;
}
.faq__item:active{
    color: #E1670E;
}
.footer__links{
    margin-top: 90px;
}
.footer__vk-link,
.footer__ok-link{
    display: inline-block;
}
.footer__vk-link{
    margin-left: 22px;
}
.footer__ok-link:hover svg path,
.footer__vk-link:hover svg path{
    fill: #FF9900;
}
.footer__ok-link:focus{
    padding: 2px;
    border: 2px solid #FF9900;
    margin: -4px;
}
.footer__vk-link:focus{
    padding: 2px;
    border: 2px solid #FF9900;
    margin: -4px -4px -4px 18px;
}
.footer__ok-link:active svg path,
.footer__vk-link:active svg path{
    fill: #E1670E;
}
.footer__mid-side{
    padding-left: 160px;
    padding-right: 50px;
}
.footer__form{
    margin-top: 50px;
}
.footer__h2{
    color: #CACACA;
    font-family: "Montserrat-Regular";
    font-size: 48px;
}
.footer__FIO,
.footer__email{
    margin-top: 25px;
    background: #414141;
    border-radius: 16px;
    color: #CACACA;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    height: 60px;
    min-width: 570px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.footer__textarea{
    margin-top: 25px;
    background: #414141;
    border-radius: 16px;
    color: #CACACA;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    height: 150px;
    min-width: 570px;
    border: none;
    padding: 20px 22px;
    overflow: hidden;
    resize: none;
}
.footer__FIO:hover,
.footer__email:hover,
.footer__textarea:hover,
.footer__FIO:focus,
.footer__email:focus,
.footer__textarea:focus,
.footer__FIO:active,
.footer__email:active,
.footer__textarea:active{
    background-color: #666;
}
.footer__btns{
    margin-top: 28px;
    display: flex;
    align-items: center;
}
.footer__btn{
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: #FF9900;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    color: #fff;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
.footer__btn:hover,
.footer__btn:focus{
    background-color: #FFB84D;
}
.footer__btn:active{
    background-color: #E1670E;
}
.footer__label{
    margin-left: 25px;
    cursor: pointer;
    font-family: "Montserrat-Regular";
    font-size: 16px;
}
.footer__txt{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #CACACA;
}
.checkbox {
    position: absolute;
    opacity: 0;
    width: 12px;
    height: 12px;
}
  
.checkbox__txt {
    position: relative;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #CACACA;
}
  
.checkbox__txt::before {
    content: '';
    position: absolute;
    left: -1%;
    top: 12%;
    border: 1px solid #CACACA;
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
}
  
.checkbox:checked+.checkbox__txt::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94976 1.08233L4.00002 6.03208L1.17159 3.20365' stroke='%2397EE3F' stroke-width='2'/%3E%3C/svg%3E%0A");

}
.footer__right-side{
    max-width: 363px;
    margin-right: 68px;
    margin-top: 139px;
}
.footer__text{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #CACACA;
    line-height: 32px;
}
@media(min-width:1441px) {
    .header__nav_mobile{
        display: none;
    }
}
@media(min-width:1061px){
    .work__right-block_mobile{
        display: none;
    }
}
@media(max-width:1440px) {
    .header__nav{
        display: none;
    }
    .header__nav_mobile{
        display: block;
    }
    .footer__right-side{
        display: none;
    }
    .header__container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .header__nav_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 26px;
    }
    .header__logo_mobile{
        max-width: 150px;
    }
    .about__blocks{
        flex-direction: column;
        margin-top: 60px;
    }
    .about__left-block{
        width: 100%;
        height: 640px;
    }
    .about__right-blocks{
        width: 100%;
        margin-left: 0px;
    }
    .about__before-shadow{
        padding-top: 444px;
    }
    .about__consult,
    .about__quality{
        margin-top: 32px;
        margin-left: 0px;
        padding-left: 77px;
    }
}
@media (max-width:1060px) {
    .container{
        max-width: 1024px;
        padding: 0 50px 0 50px;
    }
    .slider{
        margin-top: 40px;
    }
    .slider__div{
        height: 668px;  
    }
    .slider__width{
        padding-left: 77px;
        padding-top: 160px;
    }
    .slider__h2{
        padding-bottom: 16px;
        font-size: 60px;
        line-height: 73.14px;
    }
    .slider__big-p{
        padding-bottom: 85px;
        font-size: 20px;
        line-height: 24.38px;
    }
    .slider__dots{
        margin-top: 140px;
    }
    .about{
        margin-top: 35px; 
    }
    .about__btn{
        line-height: 19.5px;
        padding: 17px 35px;
        font-size: 16px;
    }
    .work{
        margin-top: 80px;
    }
    .work__blocks{
        margin-top: 54px;
    }
    .work__btns{
        margin-top: 45px;
    }
    .work__right-block{
        display: none;
    }
    .faq{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .faq__item-a{
        padding-top: 39px;
        padding-bottom: 39px;
        font-size: 20px;
        max-width: 756px;
        line-height: 32px;
    }
    .faq__item:nth-child(2n) .faq__item-a{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer__container{
        padding-left: 50px;
    }
    .footer__logo{
        width: 224px;
    }
    .footer__mid-side{
        padding-left: 0px;
        margin-left: auto;
        padding-right: 50px;
    }
    .footer__FIO,
    .footer__email,
    .footer__textarea{
        min-width: 541px;
    }
    .footer__btn{
        padding: 20px 38px;
    }
}

@media(max-width:767px) and (min-width:320px){
    .slider__dots{
        margin-top: 15%;
    }
}
@media(max-width:825px) and (min-width:769px){
    .work__dogovor-btn{
        margin-left: auto;
    }
}
@media (max-width:880px){
    .header__nav_mobile{
        padding-top: 11px;
    }
    .header__container{
        height: 69px;
    }
    .container{
        max-width: 768px;
        padding: 0 50px 0 50px;
    }
    .slider__div{
        height: 662px;  
    }
    .slider__width{
        padding-left: 40px;
        max-width: 630px;
    }
    .slider__h2{
        font-size: 50px;
        line-height: 60.95px;
    }
    .slider__big-p{
        font-size: 18px;
        line-height: 21.94px;
    }
    .about__btn{
        line-height: 19.5px;
        padding: 17px 35px;
        font-size: 16px;
    }
    .about__blocks{
        margin-top: 55px;
    }
    .about__left-block{
        border-radius: 24px;
        height: 650px;
    }
    .about__before-shadow{
        padding-top: 454px;
    }
    .about__shadow{
        border-radius: 24px;
    }
    .about__text{
        padding-left: 40px;
        max-width: 400px;
    }
    .about__btn{
        margin-right: 40px;
    }
    .about__consult,
    .about__quality{
        padding-left: 40px;
        border-radius: 24px;
        height: 235px;
    }
    .about__img{
        width: 114px;
    }
    .about__text-orientation{
        margin-left: 16px;
        margin-top: 35px;
    }
    .about__p_mobile{
        max-width: 450px;
    }
    .work__step:not(:last-child){
        margin-right: 155px;
    }
    .work__blocks{
        margin-top: 43px;
        flex-direction: column-reverse;
    }
    .work__right-block_mobile{
        display: none;
    }
    .work__right-block{
        display: block;
        width: 100%;
    }
    .work__img{
        margin-left: 0;
        max-height: 284px;
        width: 100%;
    }
    .work__left-blocks{
        margin-top: 35px;
        width: 100%;
    }
    .work__btns{
        margin-top: 45px;
    }
    .faq{
        margin-top: 71px;
        margin-bottom: 111px;
    }
    .faq__item-a{
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 570px;
    }
    .faq__item:nth-child(1) .faq__item-a{
        padding-top: 39px;
        padding-bottom: 39px;
    }
    .footer__container{
        flex-direction: column-reverse;
        height: 792px;
        justify-content:left;
    }
    .footer__list{
        display: none;
    }
    .footer__mid-side{
        margin: 0;
    }
    .footer__FIO,
    .footer__email,
    .footer__textarea{
        min-width: 541px;
    }
    .footer__btn{
        padding: 20px 38px;
    }
    .footer__links{
        margin-top: 16px;
    }
}
@media (max-width:679px){
    .header__nav_mobile{
        padding-top: 17px;
    }
    .header__container{
        height: 69px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__logo_mobile{
        max-width: 110px;
    }
    .container{
        max-width: 320px;
        padding: 0 15px 0 15px;
    }
    .slider{
        margin-top: 30px;
    }
    .slider__div{
        height: 308px;  
        border-radius: 16px;
    }
    .slider__width{
        padding-left: 20px;
        text-align: center;
        max-width: 270px;
        padding-top: 60px;
    }
    .slider__h2{
        font-size: 20px;
        line-height: 24.38px;
        padding-bottom: 8px;
    }
    .slider__big-p{
        font-size: 12px;
        line-height: 14.63px;
        padding-bottom: 45px;
    }
    .slider__btn{
        font-size: 12px;
        line-height: 14.63px;
        padding: 13px 28px;
        border-radius: 8px;
    }
    .slider__dots{
        margin-top: 41px;
    }
    .slider__dot{
        max-width: 10px;
    }
    .about{
        margin-top: 60px;
    }
    .about__h3{
        font-size: 24px;
    }
    .about__p{
        font-size: 14px;
        line-height: 28px;
    }
    .about__btn{
        line-height: 14.63px;
        padding: 10px 42px;
        font-size: 12px;
        margin-left: 0;
        margin-right: auto;
        border-radius: 8px;
        border-width: 2px;
        color: #FF9900;
        margin-top: 12px;
    }
    .about__blocks{
        margin-top: 14px;
    }
    .about__left-block{
        background-image: none;
        height: auto;
    }
    .about__img_mobile{
        display: block;
        height: 200px;
        width: 290px;
        border-radius: 16px;
    }
    .about__before-shadow{
        display: none;
    }
    .about__shadow{
        background-color: rgba(0, 0, 0, 0);
        height: auto;
        flex-direction: column;
    }
    .about__text{
        padding-left: 0px;
        max-width: 320px;
        font-family: "Montserrat-Regular";
        font-size: 14px;
        line-height: 28px;
        color: #000;
        margin-top: 8px;
    }
    .about__consult,
    .about__quality{
        flex-direction: column;
        padding-left: 0px;
        border: 0px;
        height: auto;
    }
    .about__img{
        width: 64px;
    }
    .about__img1{
        content: url(/img/cons_mobile.svg);
        width: 64px;
    }
    .about__img2{
        content: url(/img/quality_mobile.svg);
    }
    .about__text-orientation{
        margin-left: 0px;
        margin-top: 12px;
    }
    .about__h4{
        font-size: 18px;
        font-family: "Montserrat-SemiBold";
        margin-bottom: 4px;
    }
    .work{
        margin-top: 60px;
    }
    .work__h3{
        font-size: 24px;
        font-family: "Montserrat-Regular";
    }
    .work__step:not(:last-child){
        margin-right: 44px;
    }
    .work__steps{
        margin-top: 20px;
        font-size: 14px;
    }
    .work__blocks{
        margin-top: 8px;
        flex-direction: column-reverse;
    }
    .work__right-block{
        display: block;
        width: 100%;
    }
    .work__img{
        margin-left: 0;
        height: 160px;
        width: 100%;
        border-radius: 16px;
    }
    .work__left-blocks{
        margin-top: 16px;
        width: 100%;
    }
    .work__h4{
        font-size: 18px;
        font-family: "Montserrat-SemiBold";
        margin-bottom: 13px;
    }
    .work__p{
        font-size: 14px;
        line-height: 28px;
    }
    .work__btns{
        margin-top: 35px;
    }
    .work__about-btn{
        padding: 12px 44px;
        border-radius: 8px;
        font-size: 12px;
    }
    .work__dogovor-btn{
        padding: 10px 32px;
        font-size: 12px;
        border-radius: 8px;
        margin-left: 4px;
    }
    .faq{
        margin-top: 70px;
        margin-bottom: 60px;
    }
    .faq__h3{
        font-size: 24px;
        margin-bottom: 0px;
    }
    .faq__nav{
        margin-top: 17px;
    }
    .faq__item:nth-child(n) .faq__item-a{
        font-size: 14px;
        font-family: "Montserrat-SemiBold";
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 570px;
        line-height: 24px;
    }
    .faq__svg{
        width: 30px;
    } 
    .footer__container{
        flex-direction: column-reverse;
        height: 672px;
        justify-content:left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer__form{
        margin-top: 33px;
    }
    .footer__h2{
        font-size: 24px;
    }
    .footer__list{
        display: none;
    }
    .footer__mid-side{
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__FIO,
    .footer__email,
    .footer__textarea{
        min-width: 290px;
        width: 290px;
        margin-top: 25px;
        padding-left: 20px;
        font-size: 14px;
    }
    .footer__FIO{
        margin-top: 20px;
    }
    .footer__btns{
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 16px;
        border-bottom: 1px solid #414141;
    }
    .footer__label{
        margin-left: 0px;
        margin-top: 12px;
    }
    .footer__btn{
        padding: 14px 28px;
        font-size: 12px;
        border-radius: 8px;
    }
    .footer__left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-top: 16px;
    }
    .footer__logo{
        width: 131px;
    }
    .footer__links{
        margin-top: 16px;   
    }
    .footer__ok,
    .footer__vk{
        width: 40px;
        height: 40px;
    }
    .footer__vk-link{
        margin-left: 15px;
    }
}
